section.news {
        border-radius: 3px;
        margin: 0px 0px 15px;
        padding: 7px 3.5px 23.5px;
        background-color: #ffe0e0;
}
section.news p{
    line-height: 1.1em;
    margin: 0px;
    font-size: 12pt;
}
a{color: #0020d4;}