@charset "utf-8";

#kigyoku{
border:dotted 2px #339933;
border-radius :10px;
background-color: #3fc;
}
ul.navi {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	list-style-type: none;
	margin:auto;
	padding:5px;
	width:200px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

ul.navi li {
  width: 200px;
  padding: 5px;
}

ul.navi a {
  background-color:#E6E6FA;
  color:#114477;
  display: block;
  padding:5px;
  text-decoration:none;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 3px 2px 2px #708090;
  -webkit-box-shadow: 3px 2px 2px #708090;
  box-shadow: 3px 2px 2px #708090;

}

ul.navi a:hover {
  -moz-transition-property: background ;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: linear;

  -webkit-transition: margin 0.2s ease-out 0;	
	background:#B0C4DE;
}

ul.navi li:hover {
  -moz-transition-property: margin ;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;

  -webkit-transition: background 0.3s linear 0 ;	
	margin: 0 0 0 10px;
}
a:hover {

}

/* TABLE */
table.table1 {
	border:#000 solid 1px;
	border-collapse:collapse;
}

table.table1 td,th {
	border:#000 solid 1px;
}

code, pre {
	font-family:Consolas;
}

html{ 
    height: 100%; 
}

/* ###BODY### */
body {
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:15px;
	line-height:1.5em;
	height:100%;
	margin: 0px;
	padding: 0px;
	background-image: url(images/bg.gif);
	background-attachment:fixed;
}

/* タイトル文字 */
.title_text {
	margin:auto;
	font-size:xx-large !important;
	text-align:center !important;
	line-height:1.5em !important;
}

/* 文字のセンタリング */
.style1 {
	margin:auto;
	text-align:center !important;
}

/* 文字の左寄せ */
.style2 {
	margin:auto;
	text-align:left !important;
}

/* イタリック, ラージ */
.style3 {
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
}

/* 赤文字 */
.style5 {
	color:red;
}

/* フッター */
.copyright {
	font-family: "Times New Roman", Times, serif;
	font-size:small;
	font-style: normal;
	position:fixed;
	margin:auto;
	right:0px;
	bottom: 0px;
}

/* ページ全体のCSS */
#contents {
	margin:auto;
	margin-top:20px;
	width:900px;
	min-height:100%;
	height:auto;
	background-color: #CCFFCC;
	box-shadow: 10px 10px 10px #666;
	-webkit-box-shadow: 10px 10px 10px #666;
	-moz-box-shadow: 10px 10px 10px #666;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border: green 2px solid;
}

/* ブラウザ対策 */
body > #contents {
	height:auto;
}

/* ヘッダー */
#header {
	width:auto;
	text-align:center;
}

/* メインコンテンツ */
#main {
	width: 600px;
	text-align:left;
	margin-right: 20px;
	float:right;
}

/* サイドコンテンツ */
#side {
	width: 240px;
	text-align:left;
	margin-left: 20px;
	float:left;
}

/* フッター */
#footer {
	clear:both;
	witdh:auto;
}

/* 画像を右側に, 余白20px, 黒枠2px */
.img1 {
	margin: 20px;
	float: right;
	border: 2px solid #000;
}

/* DIVタグ用 枠付きスタイル 幅 800px */
.div1 {
	margin:auto;
	padding:5px;
	width:800px;
	text-align:left;
	border:ridge;
}

/* DIVタグ用 枠付きスタイル 幅 600px */
.div2 {
	margin:auto;
	padding:5px;
	width:600px;
	text-align:left;
	border:ridge;
}

/* DIVタグ用 枠付きスタイル 幅 400px */
.div3 {
	margin:auto;
	padding:5px;
	width:400px;
	text-align:left;
	border:ridge;
}

/* サブタイトル1 */
.sub_title1 {
	text-align:left;
	text-indent:0.25em !important;
	padding: 5px;
	border-left:#000 20px solid;
	border-bottom:#000 2px dashed;
	background-color:#FFCCCC;
}

/* サブタイトル2 */
.sub_title2 {
	text-align:left;
	text-indent:0.5em;
	margin-left: 2.0em;
	border-bottom:#000 2px solid;
	width: 90%;
}

/* インデント(2.0em) */
.indent {
	text-align:left;
	margin-left:2.0em;
}

/* インデントを強制的に無効にする */
.indent_disabled {
	margin-left:0em;
}

/* ボタン1 */
.button1 {
	background-color:#9F3;
	height:20px;
	width:120px;
	box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	-moz-box-shadow: 5px 5px 5px #666;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border: green 2px solid;
	text-align:center;
}
