body {
    padding-top: 80px;
    background-color: #fff;
    animation:fadeIn 1s ease-out 0s 1 normal;
    box-shadow:0 0 1px rgba(0,0,0,0.2)
}
img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#make-it-bigger {
    font-size: 150%;
}
h1, h2 {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid /*#3498db*/ #CC342D;   
    font-family: "Helvetica", "Arial", sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo;
    /* color: #483D8B maroon #CC342D; */
}
h1 {
  padding: .25em 0 .5em .75em;
  border-left: 9px solid #CC342D;
  border-bottom: 2px solid #CC342D;
}
h2 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #CC342D;
}

span.line {
   display: inline-block;
}

.bg {
    height: 300px;
    background: url('../files/test-img.jpg') center center no-repeat scroll;
    background-size: cover;
}

.news {
      margin: 0px 0px 15px;
      padding: 7px 3.5px 23.5px;
      /* background-color: #ddffdd #DEEEFF; */
}

/* iPhone X 対応用 */
@keyframes fadeIn {
    0% {opacity: 0} /*アニメーション開始時は完全に透過*/
    100% {opacity: 1} /*アニメーション終了時は透過しない*/
}
@-webkit-keyframes fadeIn /*旧 Safari 用のベンダー処理*/ {
    0% {opacity: 0}
    100% {opacity: 1}
}