body {
    padding-top: 80px;
    background-color: snow;
    animation:fadeIn 1s ease-out 0s 1 normal;
    text-align: justify;
    font-family: 'quicksand', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}
img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#make-it-bigger {
    font-size: 150%;
}
h1, h2 {
    position: relative;
    /* font-family: "Helvetica", "Arial", sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo; */
}
h1 {
    /* #cc342d */
    padding: .25em 0 .5em .75em;
    border-left: 9px solid #CC342D;
    border-bottom: 2px solid #CC342D;
}
h1.site-name{
    color: snow;
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 9px solid red;
    border-bottom: 4px solid red;
    /* font-style:  */
}
h2 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid rgb(228, 63, 12);
}
span.line {
   display: inline-block;
}
.bg {
    height: 300px;
    background: url('../files/test-img2.jpg') center center no-repeat scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.news {
      margin: 0px 0px 15px;
      padding: 7px 3.5px 23.5px;
      /* background-color: #ddffdd #DEEEFF; */
}
#noscript{
    padding:30px;
    color:red;
    border:3px solid red;
    background:#fff;
    font-weight:700;
    position:absolute;
    right:0;
    top:0;
    z-index:3
}

/* iPhone X 対応用 */
@keyframes fadeIn {
    0% {opacity: 0} /*アニメーション開始時は完全に透過*/
    100% {opacity: 1} /*アニメーション終了時は透過しない*/
}
@-webkit-keyframes fadeIn /*旧 Safari 用のベンダー処理*/ {
    0% {opacity: 0}
    100% {opacity: 1}
}

.jumbotron-extend {
    position: relative;
    height: 70vh;
    min-height: 300px;
    background: url(../files/test-img2.jpg) no-repeat center center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn-black {
    border-radius: 0;
    background-color: rgb(58, 183, 255);
    color: #fff; 
    /* font-family: 'Avenir', serif; */
}
/* .btn-black:hover {
     background-color: #fff;
     color: #000;
} */
.SandboxRoot .env-bp-660 .timeline-Tweet-text .tweetAuthor-name {
	font-size: 10.5pt !important;
    line-height: 14pt!important;
}
.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }
.SandboxRoot.env-bp-820 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }
.twitter{
    padding-left: 10%;
    padding-right: 10%;
}