body	{
	overflow-x: hidden;
	padding-top:80px;
}

.left	{
	text-align: left !important;
}

.right	{
	text-align: right !important;
}

.center	{
	margin: 0 auto;
	text-align: center !important;
	left:50%;
}

h1	{
	position: relative;
	padding: 5px 6px 2px 8px;
	border-bottom: 2px solid #1d44a4;
	border-left: 10px solid #1d44a4;
	font-size: 32px;
}

.h1_error	{
	border-left: none;
}

h2	{
	position: relative;
	padding: 5px 6px 2px 8px;
	border-bottom: 2px solid #8ED1E0;
	border-left: 6px solid #8ED1E0;
	font-size: 24px;
}

h4.index_foot	{
	display:inline;
	position: relative;
	padding: 5px 6px 14px 8px;
	font-size: 18px;
	width: 100%;
}

.twitter-icon img{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.border_1	{
	position: relative;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 20px;
	border-color: #c9c9c9; 
	padding: 5px 5px 5px 5px;
	background-color: #fcfcfc;
	display: inline-block;
	width: 120px;
	text-align: center;
	color: #666666;
}

.border_1 a	{
	border-color: #c9c9c9;
	width: 100%;
	text-decoration: none;
}

.border_1 a:hover	{
	border: 1px solid #818181;
	background-color: #ffffff;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

hr.footer_hr	{
	margin: 30px 0 30px 0;
	border: 0;
    height: 1px;
    background: #999999;
    background-image: linear-gradient(to right, #cccccc, #999999, #cccccc);
}

.attention	{
	color: #fb9966;
}

h4.name	{
	margin: 25px 0 2px 0px;
	color: #000000;
	position: relative;
	padding: 5px 5px 5px 5px;
	font-size: 1.35em;
}

h4.n_c0	{
	border-bottom: 2px solid #000000;
	border-left: 5px solid #000000;
}

h4.n_c1	{
	border-bottom: 2px solid #ffb127;
	border-left: 5px solid #ffb127;
}

h4.n_c2	{
	border-bottom: 2px solid #cb1b45;
	border-left: 5px solid #cb1b45;
}

h4.n_c3	{
	border-bottom: 2px solid #6a4c9c;
	border-left: 5px solid #6a4c9c;
}

h4.n_c4	{
	border-bottom: 2px solid #2ea9df;
	border-left: 5px solid #2ea9df;
}

h4.n_c5	{
	border-bottom: 2px solid #113285;
	border-left: 5px solid #113285;
}

h4.n_c6	{
	border-bottom: 2px solid #7ba23f;
	border-left: 5px solid #7ba23f;
}

h4.n_c7	{
	border-bottom: 2px solid #fbe251;
	border-left: 5px solid #fbe251;
}

h4.n_c8	{
	border-bottom: 2px solid #e03c8a;
	border-left: 5px solid #e03c8a;
}

h4.n_c9	{
	border-bottom: 2px solid #1c1c1c;
	border-left: 5px solid #1c1c1c;
}

h4.n_c10	{
	border-bottom: 2px solid #1b813e;
	border-left: 5px solid #1b813e;
}

table.intro	td	{
	padding-right: 10px;
	vertical-align: top;
}

table.intro img	{
	padding-top: 5px;
}

.group	{
	padding-left: 25px;
}

.group div.g_name	{
	color: #333333;
	position: relative;
	font-size: 1.25em;
	border-bottom: 2px solid #cccccc;
	padding:8px 0 0 10px;
}

.group td	{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	vertical-align: top;
}

.group img	{
	padding-top: 1px;
}

td.menu_pic	{
	padding-right: 10px;
	vertical-align: top;
}

table.menu	{
	border-collapse: collapse;
}

table.menu img	{
	padding-top: 5px;
}

td.menu0 {
	width: 1px;
	border-bottom:1px #999999 solid;
}

td.menu1 {
	width: 220px;
	border-bottom:1px #999999 solid;
}

td.menu2 {
	width: 60px;
	border-bottom:1px #999999 solid;
}

td.menu3 {
	width: 300px;
	border-bottom:1px #999999 solid;
}

.time_pic	{
	max-width: 100%;
	height: auto;
}

.footer-margin	{
	margin-top:-15px;
}

.footer-text	{
	list-style-type:none;
	margin-right:6px;
	padding-left:10px;
}

.footer-text a	{
	color:#999999;
	font-size:15px;
	text-decoration: none;
}

.footer-text a:hover	{
	color:#454545;
}

.footer-text li	{
	display:inline;
	list-style-type:none;
	margin-right:8px;
	padding-left:10px;
}

.footer-text li+li	{
	border-left:1px solid #666666;
}

#page-top {
	clear: both;
	text-align: right;
}

#page-top a {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 14em;
	font-size: 12px;
	letter-spacing: 0.1em;
	padding: 1px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}

#page-top a:hover {
	border: 1px solid #818181;
}